/* form26 Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .form26 {
    width: 624pt;
    margin: 0 auto;
    padding-bottom: 20pt;
  }

  .form26 * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }}
}

@layer components {
  .form26 .s1 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form26 .s2 {
    color: #00F; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form26 .s3 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16.5pt;
  }
  .form26 h1 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt;
  }
  .form26 .s4 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form26 .s5 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form26 .s6 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form26 .s7 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;
  }
  .form26 .s8 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form26 .p, .form26 p {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; margin:0pt;
  }
  .form26 li {
    display: block;
  }
  .form26 #l1 {
    padding-left: 0pt;
  }
  .form26 #l1> li>*:first-child:before {
    content: "■ "; color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form26 table, .form26 tbody {
    vertical-align: top; overflow: visible;
  }
  .form26 input.form-input {
    width: calc(100% - 2pt); height: 20pt; border: none; outline: none; background: #ffffff; padding: 1pt; font-family: 돋움체, monospace; font-size: 10pt; box-sizing: border-box;
  }
  .form26 input.form-input:focus {
    border: 0.5pt solid #999;
  }
  .form26 input.form-input-numeric {
    text-align: right; font-family: 돋움체, monospace; font-size: 10pt;
  }
  .form26 input.form-input-text {
    text-align: left; font-family: 돋움체, monospace; font-size: 10pt;
  }
  .form26 table td {
    vertical-align: middle !important;
  }
  .form26 table td p {
    text-align: center !important; padding-left: 0 !important; padding-right: 0 !important; line-height: 130% !important;
  }
}