/* form-joteuk69 Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .form-joteuk69 {
    width: 624pt;
    margin: 0 auto;
    padding-bottom: 20pt;
  }

  .form-joteuk69 * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }}
}

@layer components {
  .form-joteuk69 .s1 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form-joteuk69 .s2 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form-joteuk69 .s3 {
    color: #00F; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form-joteuk69 .s4 {
    color: black; font-family:HY얕은샘물M, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16.5pt;
  }
  .form-joteuk69 .s5 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form-joteuk69 .s6 {
    color: black; font-family:HY얕은샘물M, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12.5pt;
  }
  .form-joteuk69 .s7 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt;
  }
  .form-joteuk69 .s8 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form-joteuk69 .s9 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form-joteuk69 .s10 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form-joteuk69 p {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; margin:0pt;
  }
  .form-joteuk69 .s11 {
    color: black; font-family:바탕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form-joteuk69 .s12 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form-joteuk69 .s13 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form-joteuk69 .s14 {
    color: black; font-family:바탕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form-joteuk69 .s15 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form-joteuk69 .s16 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 6pt; vertical-align: 3pt;
  }
  .form-joteuk69 .s17 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form-joteuk69 .s18 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form-joteuk69 .s19 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form-joteuk69 .s20 {
    color: #7E7E7E; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form-joteuk69 .s21 {
    color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 13pt;
  }
  .form-joteuk69 .h1 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 13pt;
  }
  .form-joteuk69 .s22 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; vertical-align: 1pt;
  }
  .form-joteuk69 .s23 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form-joteuk69 .s24 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form-joteuk69 li {
    display: block;
  }
  .form-joteuk69 #l1 {
    padding-left: 0pt;
  }
  .form-joteuk69 #l1> li>*:first-child:before {
    content: "■ "; color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form-joteuk69 li {
    display: block;
  }
  .form-joteuk69 #l2 {
    padding-left: 0pt;counter-reset: d1 1;
  }
  .form-joteuk69 #l2> li>*:first-child:before {
    counter-increment: d1; content: counter(d1, decimal)". "; color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt;
  }
  .form-joteuk69 #l2> li:first-child>*:first-child:before {
    counter-increment: d1 0;
  }
  .form-joteuk69 table, .form-joteuk69 tbody {
    vertical-align: top; overflow: visible;
  }
}