/* form14 Styles */

@layer base {
    .form14 {
        width: 624pt;
        margin: 0 auto;
        padding-bottom: 20pt;
    }

    .form14 * {
        margin: 0;
        padding: 0;
        text-indent: 0;
    }
}

@layer components {
    .form14 .s1 {
        color: black;
        font-family: 돋움체, monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
    }

    .form14 .s2 {
        color: #00F;
        font-family: 돋움체, monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
    }

    .form14 .s3 {
        color: black;
        font-family: HY견고딕, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 16.5pt;
    }

    .form14 .s4 {
        color: black;
        font-family: HY견고딕, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 15.5pt;
    }

    .form14 h1 {
        color: black;
        font-family: 돋움, monospace;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 11pt;
    }

    .form14 p {
        color: black;
        font-family: 돋움체, monospace;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 10pt;
        margin: 0pt;
    }

    .form14 .s5 {
        color: black;
        font-family: 돋움체, monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
    }

    .form14 .s6 {
        color: black;
        font-family: 돋움체, monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
    }

    .form14 .s7 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
    }

    .form14 .s8 {
        color: black;
        font-family: 돋움체, monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
    }

    .form14 .s9 {
        color: black;
        font-family: 돋움, monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
    }

    .form14 .s10 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
    }

    .form14 .s11 {
        color: black;
        font-family: 돋움, monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
    }

    .form14 li {
        display: block;
    }

    .form14 #l1 {
        padding-left: 0pt;
    }

    .form14 #l1 > li > *:first-child:before {
        content: "■ ";
        color: black;
        font-family: 돋움체, monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
    }

    .form14 li {
        display: block;
    }

    .form14 #l2 {
        padding-left: 0pt;
        counter-reset: d1 1;
    }

    .form14 #l2 > li > *:first-child:before {
        counter-increment: d1;
        content: counter(d1, decimal) ". ";
        color: black;
        font-family: 돋움체, monospace;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 10pt;
    }

    .form14 #l2 > li:first-child > *:first-child:before {
        counter-increment: d1 0;
    }

    .form14 table, .form14 tbody {
        vertical-align: top;
        overflow: visible;
    }

    .form14 input.form-input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
        padding-top: 1pt;
        padding-bottom: 1pt;
        padding-left: 0;
        padding-right: 0;
        font-family: Arial;
        font-size: 9pt;
        box-sizing: border-box;
    }

    .form14 input.form-input:focus {
        border: 0.5pt solid #999;
    }

    .form14 textarea.form-input {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        padding-top: 1pt;
        padding-bottom: 1pt;
        padding-left: 0;
        padding-right: 0;
        font-family: Arial;
        font-size: 9pt;
        box-sizing: border-box;
    }

    .form14 textarea.form-input:focus {
        border: 0.5pt solid #999;
    }

    .form14 .total-summary-table input.form-input {
        height: 20pt !important;
        vertical-align: middle;
        margin-top: -2pt;
        margin-bottom: -2pt;
    }

    .form14 .total-summary-table td {
        overflow: visible !important;
    }

    .form14 table:first-of-type input.form-input {
        height: 20pt !important;
    }

    .form14 input.form-input-numeric {
        text-align: right;
        font-family: Arial;
        font-size: 9pt;
    }

    .form14 input.form-input-text {
        text-align: left;
        font-family: Arial;
        font-size: 9pt;
    }

    .form14 input.form-input-address {
        text-align: left;
        font-family: Arial;
        font-size: 9pt;
    }

    .form14 textarea.form-input-address {
        text-align: left;
        font-family: Arial;
        font-size: 9pt;
        resize: none;
    }
}
