/* form28 Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .form28 {
    width: 624pt;
    margin: 0 auto;
    padding-bottom: 20pt;
  }

  .form28 * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }
}

@layer components {
  .form28 .s1 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form28 .s2 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 13.5pt;
  }
  .form28 .s3 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12.5pt;
  }
  .form28 p {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; margin:0pt;
  }
  .form28 .s4 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form28 .s5 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form28 li {
    display: block;
  }
  .form28 #l1 {
    padding-left: 0pt;
  }
  .form28 #l1> li>*:first-child:before {
    content: "■ "; color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form28 table, .form28 tbody {
    vertical-align: top; overflow: visible;
  }
  .form28 input.form-input {
    width: calc(100% - 2pt); height: 20pt; border: none; outline: none; background: #ffffff; padding: 1pt; font-family: Arial, monospace; font-size: 8pt; box-sizing: border-box;
  }
  .form28 input.form-input:focus {
    border: 0.5pt solid #999;
  }
  .form28 input.form-input-numeric {
    text-align: right; font-family: Arial, monospace; font-size: 8pt;
  }
  .form28 input.form-input-text {
    text-align: left; font-family: Arial, monospace; font-size: 8pt;
  }
  .form28 table input.form-input {
    font-size: 8pt;
  }
  .form28 table input.form-input-numeric {
    font-size: 8pt;
  }
  .form28 table input.form-input-text {
    font-size: 8pt;
  }
  .form28 textarea.form-input {
    width: calc(100% - 2pt); border: none; outline: none; background: #ffffff; padding: 1pt; font-family: Arial, monospace; font-size: 8pt; box-sizing: border-box; resize: none; overflow-y: auto;
  }
  .form28 textarea.form-input:focus {
    border: 0.5pt solid #999;
  }
  .form28 textarea.form-input-text {
    text-align: left; font-family: Arial, monospace; font-size: 8pt;
  }
}