{/*<div*/}
{/*  style={{ '--scale': scale }}*/}
{/*  className="transform origin-top-left border border-gray-800 w-[100%] mx-auto bg-white p-6 text-[8px] leading-tight scale-[var(--scale)]"*/}
{/*>*/}
{/*  /!* 상단 규정 문구 *!/*/}
{/*  <div className="flex justify-between text-[6px] mb-2">*/}
    {/*    <div>*/}
        {/*      ■ 법인세법 시행규칙 [별지 제1호서식] &lt;개정 2025. 3.*/}
        {/*      21.&gt;*/}
        {/*    </div>*/}
    {/*    <div></div>*/}
    {/*  </div>*/}

{/*  /!* 제목 *!/*/}
{/*  <h1 className="text-center text-xl font-bold mb-4">*/}
    {/*    법인세 과세표준 및 세액신고서*/}
    {/*  </h1>*/}

{/*  /!* 1. 기본 정보 영역 (1)~(12) *!/*/}
{/*  <section className="border border-gray-400 mb-3">*/}
    {/*    <div className="grid grid-cols-12 border-b border-gray-300">*/}
        {/*      /!* (1) 사업자등록번호 *!/*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(1)</span> 사업자등록번호*/}
            {/*      </div>*/}
        {/*      <div className="col-span-4 border-r border-gray-300 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*      /!* (2) 법인등록번호 *!/*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(2)</span> 법인등록번호*/}
            {/*      </div>*/}
        {/*      <div className="col-span-4 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    <div className="grid grid-cols-12 border-b border-gray-300">*/}
        {/*      /!* (3) 법인명 *!/*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(3)</span> 법인명*/}
            {/*      </div>*/}
        {/*      <div className="col-span-4 border-r border-gray-300 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*      /!* (4) 전화번호 *!/*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(4)</span> 전화번호*/}
            {/*      </div>*/}
        {/*      <div className="col-span-4 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="tel"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    <div className="grid grid-cols-12 border-b border-gray-300">*/}
        {/*      /!* (5) 대표자성명 *!/*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(5)</span> 대표자성명*/}
            {/*      </div>*/}
        {/*      <div className="col-span-4 border-r border-gray-300 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*      /!* (6) 전자우편주소 *!/*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1 whitespace-nowrap">*/}
            {/*        <span className="text-[6px]">(6)</span> 전자우편주소*/}
            {/*      </div>*/}
        {/*      <div className="col-span-4 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="email"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    /!* (7) 소재지 *!/*/}
    {/*    <div className="grid grid-cols-12 border-b border-gray-300">*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(7)</span> 소재지*/}
            {/*      </div>*/}
        {/*      <div className="col-span-10 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    /!* (8) 업태, (9) 종목, (10) 주업종코드 *!/*/}
    {/*    <div className="grid grid-cols-12 border-b border-gray-300">*/}
        {/*      /!* (8) 업태 *!/*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(8)</span> 업태*/}
            {/*      </div>*/}
        {/*      <div className="col-span-3 border-r border-gray-300 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*      /!* (9) 종목 *!/*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(9)</span> 종목*/}
            {/*      </div>*/}
        {/*      <div className="col-span-2 border-r border-gray-300 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*      /!* (10) 주업종코드 *!/*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1 text-[6px]">*/}
            {/*        (10) 주업종코드*/}
            {/*      </div>*/}
        {/*      <div className="col-span-1 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none text-right"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    /!* (11) 사업연도, (12) 수시부과기간 *!/*/}
    {/*    <div className="grid grid-cols-12 border-b border-gray-300">*/}
        {/*      /!* (11) 사업연도 *!/*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1 whitespace-nowrap">*/}
            {/*        <span className="text-[6px]">(11)</span> 사업연도*/}
            {/*      </div>*/}
        {/*      <div className="col-span-4 flex items-center border-r border-gray-300 px-2 py-1 space-x-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="date"*/}
            {/*        />*/}
            {/*        <span className="px-1">~</span>*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="date"*/}
            {/*        />*/}
            {/*      </div>*/}

        {/*      /!* (12) 수시부과기간 *!/*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1 whitespace-nowrap">*/}
            {/*        <span className="text-[6px]">(12)</span> 수시부과기간*/}
            {/*      </div>*/}
        {/*      <div className="col-span-4 flex items-center px-2 py-1 space-x-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="date"*/}
            {/*        />*/}
            {/*        <span className="px-1">~</span>*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="date"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*    </div>*/}
    {/*  </section>*/}

{/*  /!* 2. 법인/조정/종류/신고 구분 (13)~(17) *!/*/}
{/*  <section className="border border-gray-400 mb-3">*/}
    {/*    /!* (13) 법인 구분 & (14) 조정구분 *!/*/}
    {/*    <div className="grid grid-cols-12 border-b border-gray-300">*/}
        {/*      <div className="col-span-3  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(13)</span> 법인 구분*/}
            {/*      </div>*/}
        {/*      <div className="col-span-5 flex flex-wrap items-center gap-x-3 gap-y-1 px-2 py-1 text-[6px]">*/}
            {/*        <label className="inline-flex items-center gap-1">*/}
                {/*          <input*/}
                {/*            type="radio"*/}
                {/*            name="corpType"*/}
                {/*            className="h-2 w-3"*/}
                {/*          />{' '}*/}
                {/*          1. 내국*/}
                {/*        </label>*/}
            {/*        <label className="inline-flex items-center gap-1">*/}
                {/*          <input*/}
                {/*            type="radio"*/}
                {/*            name="corpType"*/}
                {/*            className="h-2 w-3"*/}
                {/*          />{' '}*/}
                {/*          2. 외국*/}
                {/*        </label>*/}
            {/*        <label className="inline-flex items-center gap-1">*/}
                {/*          <input*/}
                {/*            type="radio"*/}
                {/*            name="corpType"*/}
                {/*            className="h-2 w-3"*/}
                {/*          />{' '}*/}
                {/*          3. 외투(비율{' '}*/}
                {/*          <input*/}
                {/*            type="text"*/}
                {/*            className="w-10 h-2 border-b border-gray-400 text-right text-[6px] bg-transparent outline-none"*/}
                {/*          />{' '}*/}
                {/*          %)*/}
                {/*        </label>*/}
            {/*      </div>*/}
        {/*      <div className="col-span-2  border-x border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(14)</span> 조정구분*/}
            {/*      </div>*/}
        {/*      <div className="col-span-2 flex items-center gap-3 px-2 py-1 text-[6px]">*/}
            {/*        <label className="inline-flex items-center gap-1">*/}
                {/*          <input*/}
                {/*            type="radio"*/}
                {/*            name="adjustType"*/}
                {/*            className="h-2 w-3"*/}
                {/*          />{' '}*/}
                {/*          1. 외부*/}
                {/*        </label>*/}
            {/*        <label className="inline-flex items-center gap-1">*/}
                {/*          <input*/}
                {/*            type="radio"*/}
                {/*            name="adjustType"*/}
                {/*            className="h-2 w-3"*/}
                {/*          />{' '}*/}
                {/*          2. 자기*/}
                {/*        </label>*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    /!* (15) 종류별 구분 / (16) 외부감사대상 / (17) 신고구분 *!/*/}
    {/*    <div className="grid grid-cols-12 border-b border-gray-300">*/}
        {/*      /!* (15) *!/*/}
        {/*      <div className="col-span-3  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(15)</span> 종류별 구분*/}
            {/*      </div>*/}
        {/*      <div className="col-span-5 px-2 py-1 text-[6px]">*/}
            {/*        <div className="mb-1">*/}
                {/*          중소·중견·상호출자제한기업·그 외 / 당기순이익과세 여부*/}
                {/*        </div>*/}
            {/*        <div className="flex flex-wrap gap-2">*/}
                {/*          <label className="inline-flex items-center gap-1">*/}
                    {/*            <input type="checkbox" className="h-2 w-3" />{' '}*/}
                    {/*            중소기업*/}
                    {/*          </label>*/}
                {/*          <label className="inline-flex items-center gap-1">*/}
                    {/*            <input type="checkbox" className="h-2 w-3" />{' '}*/}
                    {/*            중견기업*/}
                    {/*          </label>*/}
                {/*          <label className="inline-flex items-center gap-1">*/}
                    {/*            <input type="checkbox" className="h-2 w-3" />{' '}*/}
                    {/*            상호출자제한기업*/}
                    {/*          </label>*/}
                {/*          <label className="inline-flex items-center gap-1">*/}
                    {/*            <input type="checkbox" className="h-2 w-3" /> 그 외*/}
                    {/*          </label>*/}
                {/*          <label className="inline-flex items-center gap-1">*/}
                    {/*            <input type="checkbox" className="h-2 w-3" />{' '}*/}
                    {/*            당기순이익 과세*/}
                    {/*          </label>*/}
                {/*        </div>*/}
            {/*      </div>*/}

        {/*      /!* (16) 외부감사대상 *!/*/}
        {/*      <div className="col-span-2  border-x border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(16)</span> 외부감사대상*/}
            {/*      </div>*/}
        {/*      <div className="col-span-2 flex flex-col justify-center gap-1 px-2 py-1 text-[6px]">*/}
            {/*        <label className="inline-flex items-center gap-1">*/}
                {/*          <input*/}
                {/*            type="radio"*/}
                {/*            name="auditTarget"*/}
                {/*            className="h-2 w-3"*/}
                {/*          />{' '}*/}
                {/*          1. 해당*/}
                {/*        </label>*/}
            {/*        <label className="inline-flex items-center gap-1">*/}
                {/*          <input*/}
                {/*            type="radio"*/}
                {/*            name="auditTarget"*/}
                {/*            className="h-2 w-3"*/}
                {/*          />{' '}*/}
                {/*          2. 미해당*/}
                {/*        </label>*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    /!* (17) 신고구분 *!/*/}
    {/*    <div className="grid grid-cols-12">*/}
        {/*      <div className="col-span-3  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(17)</span> 신고구분*/}
            {/*      </div>*/}
        {/*      <div className="col-span-9 px-2 py-1 text-[6px] space-y-1">*/}
            {/*        <label className="inline-flex items-center gap-1 mr-4">*/}
                {/*          <input*/}
                {/*            type="radio"*/}
                {/*            name="reportType"*/}
                {/*            className="h-2 w-3"*/}
                {/*          />{' '}*/}
                {/*          1. 정기신고*/}
                {/*        </label>*/}
            {/*        <label className="inline-flex items-center gap-1 mr-4">*/}
                {/*          <input*/}
                {/*            type="radio"*/}
                {/*            name="reportType"*/}
                {/*            className="h-2 w-3"*/}
                {/*          />{' '}*/}
                {/*          2. 수정신고(가. 서면분석, 나. 기타)*/}
                {/*        </label>*/}
            {/*        <label className="inline-flex items-center gap-1 mr-4">*/}
                {/*          <input*/}
                {/*            type="radio"*/}
                {/*            name="reportType"*/}
                {/*            className="h-2 w-3"*/}
                {/*          />{' '}*/}
                {/*          3. 기한후 신고*/}
                {/*        </label>*/}
            {/*        <label className="inline-flex items-center gap-1 mr-4">*/}
                {/*          <input*/}
                {/*            type="radio"*/}
                {/*            name="reportType"*/}
                {/*            className="h-2 w-3"*/}
                {/*          />{' '}*/}
                {/*          4. 중도폐업신고*/}
                {/*        </label>*/}
            {/*        <label className="inline-flex items-center gap-1 mr-4">*/}
                {/*          <input*/}
                {/*            type="radio"*/}
                {/*            name="reportType"*/}
                {/*            className="h-2 w-3"*/}
                {/*          />{' '}*/}
                {/*          5. 경정청구*/}
                {/*        </label>*/}
            {/*      </div>*/}
        {/*    </div>*/}
    {/*  </section>*/}

{/*  /!* 3. 법인유형/일반 체크 + (18)~(22) *!/*/}
{/*  <section className="border border-gray-400 mb-3">*/}
    {/*    /!* (18) 법인유형별 구분 & (19) 결산확정일 *!/*/}
    {/*    <div className="grid grid-cols-12 border-b border-gray-300">*/}
        {/*      <div className="col-span-3  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(18)</span> 법인유형별 구분*/}
            {/*      </div>*/}
        {/*      <div className="col-span-3 flex items-center gap-2 border-r border-gray-300 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*          placeholder="예: 상장법인, 비영리법인 등"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1 text-center">*/}
            {/*        코드*/}
            {/*      </div>*/}
        {/*      <div className="col-span-1 border-r border-gray-300 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none text-right"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(19)</span> 결산확정일*/}
            {/*      </div>*/}
        {/*      <div className="col-span-1 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="date"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    /!* (20) 신고일, (21) 납부일 *!/*/}
    {/*    <div className="grid grid-cols-12 border-b border-gray-300">*/}
        {/*      <div className="col-span-3  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(20)</span> 신고일*/}
            {/*      </div>*/}
        {/*      <div className="col-span-3 border-r border-gray-300 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="date"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(21)</span> 납부일*/}
            {/*      </div>*/}
        {/*      <div className="col-span-4 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="date"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    /!* (22) 신고기한연장승인 *!/*/}
    {/*    <div className="grid grid-cols-12">*/}
        {/*      <div className="col-span-3  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(22)</span>{' '}*/}
            {/*        신고기한연장승인*/}
            {/*      </div>*/}
        {/*      <div className="col-span-3 flex items-center gap-2 border-r border-gray-300 px-2 py-1 text-[6px]">*/}
            {/*        1. 신청일*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="date"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*      <div className="col-span-3 flex items-center gap-2 border-r border-gray-300 px-2 py-1 text-[6px]">*/}
            {/*        2. 연장기한*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="date"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*      <div className="col-span-3 px-2 py-1"></div>*/}
        {/*    </div>*/}
    {/*  </section>*/}

{/*  /!* 4. 각종 체크항목 (23)~(36) *!/*/}
{/*  <section className="border border-gray-400 mb-3">*/}
    {/*    <div className="grid grid-cols-12  border-b border-gray-300 text-center text-[6px]">*/}
        {/*      <div className="col-span-6 border-r border-gray-300 py-1">*/}
            {/*        구분*/}
            {/*      </div>*/}
        {/*      <div className="col-span-2 border-r border-gray-300 py-1">*/}
            {/*        해당*/}
            {/*      </div>*/}
        {/*      <div className="col-span-2 border-r border-gray-300 py-1">*/}
            {/*        미해당*/}
            {/*      </div>*/}
        {/*      <div className="col-span-2 py-1">비고</div>*/}
        {/*    </div>*/}

    {/*    {[*/}
    {/*      '(23) 주식변동',*/}
    {/*      '(24) 장부전산화',*/}
    {/*      '(25) 사업연도의제',*/}
    {/*      '(26) 결손금소급공제 법인세환급신청',*/}
    {/*      '(27) 감가상각방법(내용연수)신고서 제출',*/}
    {/*      '(28) 재고자산등평가방법신고서 제출',*/}
    {/*      '(29) 기능통화 채택 재무제표 작성',*/}
    {/*      '(30) 과세표준 환산시 적용환율',*/}
    {/*      '(31) 동업기업의 출자자(동업자)',*/}
    {/*      '(32) 한국채택국제회계기준(K-IFRS)적용',*/}
    {/*      '(33) 기능통화 도입기업의 과세표준 계산방법',*/}
    {/*      '(34) 미환류소득에 대한 법인세 신고',*/}
    {/*      '(35) 성실신고확인서 제출',*/}
    {/*      '(36) 부동산임대업 주업법인',*/}
    {/*    ].map((label, idx) => (*/}
    {/*      <div*/}
    {/*        key={label}*/}
    {/*        className={`grid grid-cols-12 border-b border-gray-200 last:border-b-0 ${*/}
    {/*          idx % 2 === 0 ? 'bg-white' : 'bg-gray-50'*/}
    {/*        }`}*/}
    {/*      >*/}
    {/*        <div className="col-span-6 border-r border-gray-200 px-2 py-1 text-[6px]">*/}
        {/*          {label}*/}
        {/*        </div>*/}
    {/*        <div className="col-span-2 flex items-center justify-center border-r border-gray-200 px-2 py-1">*/}
        {/*          <input*/}
        {/*            type="radio"*/}
        {/*            name={`yn-${idx}`}*/}
        {/*            className="h-2 w-3"*/}
        {/*          />*/}
        {/*        </div>*/}
    {/*        <div className="col-span-2 flex items-center justify-center border-r border-gray-200 px-2 py-1">*/}
        {/*          <input*/}
        {/*            type="radio"*/}
        {/*            name={`yn-${idx}`}*/}
        {/*            className="h-2 w-3"*/}
        {/*          />*/}
        {/*        </div>*/}
    {/*        <div className="col-span-2 px-2 py-1">*/}
        {/*          {label.startsWith('(30)') ||*/}
        {/*          label.startsWith('(33)') ? (*/}
        {/*            <input*/}
        {/*              className="w-full h-4 bg-transparent outline-none text-right"*/}
        {/*              type="text"*/}
        {/*            />*/}
        {/*          ) : null}*/}
        {/*        </div>*/}
    {/*      </div>*/}
    {/*    ))}*/}
    {/*  </section>*/}

{/*  /!* 5. 법인세/토지등/미환류/계  (37)~(44) *!/*/}
{/*  <section className="border border-gray-400 mb-3">*/}
    {/*    <div className="grid grid-cols-12  border-b border-gray-300 text-center text-[6px]">*/}
        {/*      <div className="col-span-3 border-r border-gray-300 py-1">*/}
            {/*        구분*/}
            {/*      </div>*/}
        {/*      <div className="col-span-3 border-r border-gray-300 py-1">*/}
            {/*        법인세*/}
            {/*      </div>*/}
        {/*      <div className="col-span-3 border-r border-gray-300 py-1">*/}
            {/*        토지 등 양도소득에 대한 법인세*/}
            {/*      </div>*/}
        {/*      <div className="col-span-2 border-r border-gray-300 py-1">*/}
            {/*        미환류소득에 대한 법인세*/}
            {/*      </div>*/}
        {/*      <div className="col-span-1 py-1">계</div>*/}
        {/*    </div>*/}

    {/*    {[*/}
    {/*      { no: '(37)', label: '수입금액' },*/}
    {/*      { no: '(38)', label: '과세표준' },*/}
    {/*      { no: '(39)', label: '산출세액' },*/}
    {/*      { no: '(40)', label: '총부담세액' },*/}
    {/*      { no: '(41)', label: '기납부세액' },*/}
    {/*      { no: '(42)', label: '차감납부할세액' },*/}
    {/*      { no: '(43)', label: '분납할세액' },*/}
    {/*      { no: '(44)', label: '차감납부세액' },*/}
    {/*    ].map(row => (*/}
    {/*      <div*/}
    {/*        key={row.no}*/}
    {/*        className="grid grid-cols-12 border-b border-gray-200 last:border-b-0"*/}
    {/*      >*/}
    {/*        <div className="col-span-3 border-r border-gray-200 px-2 py-1 text-[6px]">*/}
        {/*          <span className="text-[6px] mr-1">{row.no}</span>*/}
        {/*          {row.label}*/}
        {/*        </div>*/}
    {/*        <div className="col-span-3 border-r border-gray-200 px-2 py-1">*/}
        {/*          <input*/}
        {/*            className="w-full h-4 bg-transparent outline-none text-right"*/}
        {/*            type="text"*/}
        {/*          />*/}
        {/*        </div>*/}
    {/*        <div className="col-span-3 border-r border-gray-200 px-2 py-1">*/}
        {/*          <input*/}
        {/*            className="w-full h-4 bg-transparent outline-none text-right"*/}
        {/*            type="text"*/}
        {/*          />*/}
        {/*        </div>*/}
    {/*        <div className="col-span-2 border-r border-gray-200 px-2 py-1">*/}
        {/*          <input*/}
        {/*            className="w-full h-4 bg-transparent outline-none text-right"*/}
        {/*            type="text"*/}
        {/*          />*/}
        {/*        </div>*/}
    {/*        <div className="col-span-1 px-2 py-1">*/}
        {/*          <input*/}
        {/*            className="w-full h-4 bg-transparent outline-none text-right"*/}
        {/*            type="text"*/}
        {/*          />*/}
        {/*        </div>*/}
    {/*      </div>*/}
    {/*    ))}*/}
    {/*  </section>*/}

{/*  /!* 6. 조정자 정보 (45)~(47) *!/*/}
{/*  <section className="border border-gray-400 mb-3">*/}
    {/*    <div className="grid grid-cols-12 border-b border-gray-300">*/}
        {/*      <div className="col-span-3  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(45)</span> 조정반번호*/}
            {/*      </div>*/}
        {/*      <div className="col-span-4 border-r border-gray-300 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(47)</span> 조정자 성명*/}
            {/*      </div>*/}
        {/*      <div className="col-span-3 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    <div className="grid grid-cols-12 border-b border-gray-300">*/}
        {/*      <div className="col-span-3  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(46)</span> 조정자관리번호*/}
            {/*      </div>*/}
        {/*      <div className="col-span-4 border-r border-gray-300 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1">*/}
            {/*        사업자등록번호*/}
            {/*      </div>*/}
        {/*      <div className="col-span-3 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    <div className="grid grid-cols-12">*/}
        {/*      <div className="col-span-7 border-r border-gray-300 px-2 py-1"></div>*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1">*/}
            {/*        전화번호*/}
            {/*      </div>*/}
        {/*      <div className="col-span-3 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="tel"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*    </div>*/}
    {/*  </section>*/}

{/*  /!* 7. 국세환급금 계좌신고 (48)~(50) *!/*/}
{/*  <section className="border border-gray-400 mb-3">*/}
    {/*    <div className="grid grid-cols-12 border-b border-gray-300">*/}
        {/*      <div className="col-span-3  border-r border-gray-300 px-2 py-1 text-[6px]">*/}
            {/*        국세환급금 계좌신고*/}
            {/*      </div>*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(48)</span> 예입처*/}
            {/*      </div>*/}
        {/*      <div className="col-span-7 px-2 py-1 flex items-center gap-2 text-[6px]">*/}
            {/*        <span>은행</span>*/}
            {/*        <input*/}
            {/*          className="w-32 h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*          placeholder="은행명"*/}
            {/*        />*/}
            {/*        <span>(본)지점</span>*/}
            {/*        <input*/}
            {/*          className="w-32 h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*          placeholder="지점명"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    <div className="grid grid-cols-12 border-b border-gray-300">*/}
        {/*      <div className="col-span-3  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(49)</span> 예금종류*/}
            {/*      </div>*/}
        {/*      <div className="col-span-9 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*          placeholder="예: 보통예금"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    <div className="grid grid-cols-12">*/}
        {/*      <div className="col-span-3  border-r border-gray-300 px-2 py-1">*/}
            {/*        <span className="text-[6px]">(50)</span> 계좌번호*/}
            {/*      </div>*/}
        {/*      <div className="col-span-9 px-2 py-1">*/}
            {/*        <input*/}
            {/*          className="w-full h-4 bg-transparent outline-none"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*      </div>*/}
        {/*    </div>*/}
    {/*  </section>*/}

{/*  /!* 8. 신고 확인 문구 & 서명란 *!/*/}
{/*  <section className="border border-gray-400 mb-3">*/}
    {/*    <div className="border-b border-gray-300 px-2 py-3 text-[6px]">*/}
        {/*      신고인은 「법인세법」 제60조 및 「국세기본법」*/}
        {/*      제45조ㆍ제45조의2ㆍ제45조의3에 따라 위의 내용을 신고하며,*/}
        {/*      위 내용을 충분히 검토하였고{' '}*/}
        {/*      <span className="font-bold">*/}
                {/*        신고인이 알고 있는 사실 그대로를 정확하게 적었음을*/}
                {/*        확인합니다.*/}
                {/*      </span>*/}
        {/*    </div>*/}

    {/*    <div className="px-2 py-2 text-center">년 월 일</div>*/}

    {/*    <div className="px-2 py-1 flex items-center justify-between text-[6px]">*/}
        {/*      <div>*/}
            {/*        신고인(법 인)&nbsp;*/}
            {/*        <input*/}
            {/*          className="w-40 h-4 bg-transparent outline-none border-b border-gray-400"*/}
            {/*          type="text"*/}
            {/*        />{' '}*/}
            {/*        ( 인 )*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    <div className="px-2 py-1 flex items-center justify-between text-[6px]">*/}
        {/*      <div>*/}
            {/*        신고인(대표자)&nbsp;*/}
            {/*        <input*/}
            {/*          className="w-40 h-4 bg-transparent outline-none border-b border-gray-400"*/}
            {/*          type="text"*/}
            {/*        />{' '}*/}
            {/*        (서명 또는 인)*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    <div className="px-2 py-2 text-[11px] border-t border-gray-300 mt-2">*/}
        {/*      세무대리인은 조세전문자격자로서 위 신고서를 성실하고*/}
        {/*      공정하게 작성하였음을 확인합니다.*/}
        {/*    </div>*/}

    {/*    <div className="px-2 py-2 flex items-center justify-between text-[6px]">*/}
        {/*      <div>*/}
            {/*        세무대리인&nbsp;*/}
            {/*        <input*/}
            {/*          className="w-40 h-4 bg-transparent outline-none border-b border-gray-400"*/}
            {/*          type="text"*/}
            {/*        />*/}
            {/*        (서명 또는 인)*/}
            {/*      </div>*/}
        {/*    </div>*/}

    {/*    <div className="px-2 py-2 text-right text-[7ㅔpx] font-semibold border-t border-gray-300">*/}
        {/*      세무서장 귀하*/}
        {/*    </div>*/}
    {/*  </section>*/}

{/*  /!* 9. 첨부서류 *!/*/}
{/*  <section className="border border-gray-400">*/}
    {/*    <div className="grid grid-cols-12">*/}
        {/*      <div className="col-span-2  border-r border-gray-300 px-2 py-2 text-center text-[6px]">*/}
            {/*        첨부서류*/}
            {/*      </div>*/}
        {/*      <div className="col-span-9 px-2 py-2 text-[6px] leading-snug border-r border-gray-300">*/}
            {/*        1. 재무상태표 2. 포괄손익계산서 3. 이익잉여금처분계산서*/}
            {/*        또는 결손금처리계산서*/}
            {/*        <br />*/}
            {/*        4. 현금흐름표(「주식회사 등의 외부감사에 관한 법률」*/}
            {/*        제2조에 따른 외부감사의 대상이 되는 법인인 경우에만*/}
            {/*        첨부합니다), 5. 세무조정계산서*/}
            {/*      </div>*/}
        {/*      <div className="col-span-1 flex items-center justify-center text-[6px]">*/}
            {/*        수수료 없음*/}
            {/*      </div>*/}
        {/*    </div>*/}
    {/*  </section>*/}
{/*</div>*/}
