/* form40 Styles */

@layer base {
  .form40 {
    width: 624pt;
    margin: 0 auto;
    padding-bottom: 20pt;
    position: relative;
  }

  .form40 * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }
}

@layer components {
  .form40 .p, .form40 p {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; margin:0pt;
  }
  .form40 .s1 {
    color: #00F; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form40 .s2 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16.5pt;
  }
  .form40 .s3 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 15.5pt;
  }
  .form40 h1 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt;
  }
  .form40 .s4 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;
  }
  .form40 .s5 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form40 .s6 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form40 .s7 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form40 .s8 {
    color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form40 .s9 {
    color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form40 .s10 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form40 h2 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt;
  }
  .form40 .s11 {
    color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form40 .s12 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form40 li {
    display: block;
  }
  .form40 #l1 {
    padding-left: 0pt;
  }
  .form40 #l1> li>*:first-child:before {
    content: "■ "; color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form40 table, .form40 tbody {
    vertical-align: top; overflow: visible;
  }
}

/* add-page button positioning (exclude bottom padding) */
.form40 #addTableBtn {
  bottom: 20pt !important;
}
.form40 #addThirdTableBtn {
  bottom: 20pt !important;
}

