/* form33 Styles */

@layer base {
  .form33 {
    width: 624pt;
    margin: 0 auto;
    padding-bottom: 20pt;
  }

  .form33 * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }
}

@layer components {
  .form33 .s1 {
    color: black; font-family:돋움체; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form33 .s2 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16.5pt;
  }
  .form33 h2 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt;
  }
  .form33 .s3 {
    color: black; font-family:돋움체; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form33 .s4 {
    color: black; font-family:돋움체; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt;
  }
  .form33 .s5 {
    color: black; font-family:돋움체; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form33 .s6 {
    color: black; font-family:돋움체; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form33 .s7 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form33 .s8 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form33 .s9 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form33 .s10 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form33 .s11 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form33 .s12 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; vertical-align: 4pt;
  }
  .form33 .s13 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form33 h1 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 13pt;
  }
  .form33 .s14 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; vertical-align: 1pt;
  }
  .form33 h3 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt;
  }
  .form33 p {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; margin:0pt;
  }
  .form33 li {
    display: block;
  }
  .form33 #l1 {
    padding-left: 0pt;
  }
  .form33 #l1> li>*:first-child:before {
    content: "■ "; color: black; font-family:돋움체; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form33 li {
    display: block;
  }
  .form33 #l2 {
    padding-left: 0pt;counter-reset: d1 1;
  }
  .form33 #l2> li>*:first-child:before {
    counter-increment: d1; content: counter(d1, decimal)". "; color: black; font-style: normal; font-weight: bold; text-decoration: none;
  }
  .form33 #l2> li:first-child>*:first-child:before {
    counter-increment: d1 0;
  }
  .form33 table, .form33 tbody {
    vertical-align: top; overflow: visible;
  }
  .form33 td {
    vertical-align: middle; text-align: center;
  }
  .form33 input.form-input {
    width: calc(100% - 2pt); height: 20pt; border: none; outline: none; background: #ffffff; padding: 1pt; font-family: Arial, monospace; font-size: 10pt; box-sizing: border-box;
  }
  .form33 input.form-input:focus {
    border: 0.5pt solid #999;
  }
  .form33 input.form-input-numeric {
    text-align: right; font-family: Arial, monospace; font-size: 10pt;
  }
  .form33 input.form-input-text {
    text-align: left; font-family: Arial, monospace; font-size: 10pt;
  }
}