/* form42 Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .form42 {
    width: 624pt;
    margin: 0 auto;
    padding-bottom: 20pt;
  }

  .form42 * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }}
}

@layer components {
  .form42 .s1 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form42 .s2 {
    color: black; font-family:휴먼아미체, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16.5pt;
  }
  .form42 p {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; margin:0pt;
  }
  .form42 .s3 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;
  }
  .form42 .s4 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form42 .s5 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form42 .s6 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form42 .s7 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form42 .s8 {
    color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form42 .s9 {
    color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form42 .s10 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form42 li {
    display: block;
  }
  .form42 #l1 {
    padding-left: 0pt;
  }
  .form42 #l1> li>*:first-child:before {
    content: "■ "; color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form42 table, .form42 tbody {
    vertical-align: top; overflow: visible;
  }
  .form42 td {
    vertical-align: middle; text-align: center;
  }
  .form42 .form-input {
    border:none;background-color:#ffffff;font-family:Arial, sans-serif;font-size:8pt;padding:0;margin:0;box-sizing:border-box;outline:none;
  }
  .form42 .form-input:focus {
    border:0.5pt solid #999;outline:none;
  }
  .form42 .form-input-text {
    text-align:left;
  }
  .form42 .form-input-numeric {
    text-align:right;
  }
  .form42 .form-input {
    border:none;background-color:#ffffff;font-family:Arial,sans-serif;font-size:8pt;width:100%;height:20pt;vertical-align:middle;outline:none;box-sizing:border-box;padding:1.5pt;
  }
  .form42 .form-input:focus {
    border:0.5pt solid #999;outline:none;
  }
  .form42 .form-input-text {
    text-align:left;
  }
  .form42 .form-input-numeric {
    text-align:right;
  }
  .form42 .form-input-date {
    text-align:center;
  }
}