/* form16_2 Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .form16_2 {
    width: 624pt;
    margin: 0 auto;
    padding-bottom: 20pt;
  }

  .form16_2 * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }}
}

@layer components {
  .form16_2 .s1 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form16_2 .s2 {
    color: #00F; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form16_2 .s3 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16.5pt;
  }
  .form16_2 .s4 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 15.5pt;
  }
  .form16_2 h1 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt;
  }
  .form16_2 .s5 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;
  }
  .form16_2 h2 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt;
  }
  .form16_2 .s6 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form16_2 .s7 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form16_2 p {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; margin:0pt;
  }
  .form16_2 li {
    display: block;
  }
  .form16_2 #l1 {
    padding-left: 0pt;
  }
  .form16_2 #l1> li>*:first-child:before {
    content: "■ "; color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form16_2 table, .form16_2 tbody {
    vertical-align: top; overflow: visible;
  }
  .form16_2 input.form-input {
    width: 100%; height: 100%; border: none; outline: none; background: transparent; padding: 1pt; font-family: Arial; font-size: 10pt; box-sizing: border-box;
  }
  .form16_2 input.form-input:focus {
    border: 0.5pt solid #999;
  }
  .form16_2 input.form-input-numeric {
    text-align: right; font-family: Arial; font-size: 10pt;
  }
  .form16_2 input.form-input-text {
    text-align: left; font-family: Arial; font-size: 10pt;
  }
}