/* form16 Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .form16 {
    width: 624pt;
    margin: 0 auto;
    padding-bottom: 20pt;
  }

  .form16 * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }
}

@layer components {
  .form16 .s1 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form16 .s2 {
    color: #00F; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form16 .s3 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16.5pt;
  }
  .form16 .s4 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 15.5pt;
  }
  .form16 h1 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt;
  }
  .form16 .s5 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form16 .s6 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form16 h2 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt;
  }
  .form16 p {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; margin:0pt;
  }
  .form16 .s7 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form16 .s8 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form16 .s9 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form16 .s10 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form16 li {
    display: block;
  }
  .form16 #l1 {
    padding-left: 0pt;
  }
  .form16 #l1> li>*:first-child:before {
    content: "■ "; color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form16 li {
    display: block;
  }
  .form16 #l2 {
    padding-left: 0pt;counter-reset: d1 1;
  }
  .form16 #l2> li>*:first-child:before {
    counter-increment: d1; content: counter(d1, decimal)". "; color: black; font-style: normal; font-weight: bold; text-decoration: none;
  }
  .form16 #l2> li:first-child>*:first-child:before {
    counter-increment: d1 0;
  }
  .form16 table, .form16 tbody {
    vertical-align: top; overflow: visible;
  }
  .form16 input.form-input {
    width: 100%; height: 100%; border: none; outline: none; background: transparent; padding: 1pt; font-family: Arial; font-size: 10pt; box-sizing: border-box;
  }
  .form16 input.form-input:focus {
    border: 0.5pt solid #999;
  }
  .form16 input.form-input-numeric {
    text-align: right; font-family: Arial; font-size: 9pt; line-height: normal;
  }
  .form16 input.form-input-text {
    text-align: left; font-family: Arial; font-size: 10pt;
  }
}