/* form41_2 Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .form41_2 {
    width: 624pt;
    margin: 0 auto;
    padding-bottom: 20pt;
  }

  .form41_2 * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }
}

@layer components {
  .form41_2 p {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; margin:0pt; line-height:130%;
  }
  .form41_2 .s1 {
    color: black; font-family:HY얕은샘물M, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16.5pt;
  }
  .form41_2 .h1 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 16pt;
  }
  .form41_2 .s2 {
    color: black; font-family:HY얕은샘물M, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 15.5pt;
  }
  .form41_2 .s3 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form41_2 h2 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt;
  }
  .form41_2 .s4 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form41_2 .s5 {
    color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form41_2 .s6 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form41_2 li {
    display: block;
  }
  .form41_2 #l1 {
    padding-left: 0pt;
  }
  .form41_2 #l1> li>*:first-child:before {
    content: "■ "; color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form41_2 table, .form41_2 tbody {
    vertical-align: top; overflow: visible;
  }
  .form41_2 .form-input {
    border:none;background-color:#ffffff;font-family:Arial,sans-serif;font-size:9pt;width:100%;height:20pt;vertical-align:middle;outline:none;box-sizing:border-box;
  }
  .form41_2 .form-input:focus {
    border:0.5pt solid #999;outline:none;
  }
  .form41_2 .form-input-text {
    text-align:left;
  }
  .form41_2 .form-input-numeric {
    text-align:right;
  }
}