/* form32 Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .form32 {
    width: 624pt;
    margin: 0 auto;
    padding-bottom: 20pt;
  }

  .form32 * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }}
}

@layer components {
  .form32 .s1 {
    color: black; font-family:돋움체; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form32 .s2 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16.5pt;
  }
  .form32 h1 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt;
  }
  .form32 .s3 {
    color: black; font-family:돋움체; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;
  }
  .form32 .s4 {
    color: black; font-family:돋움체; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form32 .s5 {
    color: black; font-family:돋움체; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form32 .s6 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;
  }
  .form32 .s7 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form32 .s8 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form32 .s9 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form32 h2 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt;
  }
  .form32 p {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; margin:0pt;
  }
  .form32 li {
    display: block;
  }
  .form32 #l1 {
    padding-left: 0pt;
  }
  .form32 #l1> li>*:first-child:before {
    content: "■ "; color: black; font-family:돋움체; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form32 table, .form32 tbody {
    vertical-align: top; overflow: visible;
  }
  .form32 td {
    vertical-align: middle;
  }
  .form32 input.form-input {
    width: calc(100% - 2pt); height: 20pt; border: none; outline: none; background: #ffffff; padding: 1pt; font-family: Arial, monospace; font-size: 10pt; box-sizing: border-box;
  }
  .form32 input.form-input:focus {
    border: 0.5pt solid #999;
  }
  .form32 input.form-input-numeric {
    text-align: right; font-family: Arial, monospace; font-size: 10pt;
  }
  .form32 input.form-input-text {
    text-align: left; font-family: Arial, monospace; font-size: 10pt;
  }
}