/* form-joteuk69_2_1 Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .form-joteuk69_2_1 {
    width: 624pt;
    margin: 0 auto;
    padding-bottom: 20pt;
  }

  .form-joteuk69_2_1 * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }}
}

@layer components {
  .form-joteuk69_2_1 .s1 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form-joteuk69_2_1 .s3 {
    color: #282828; font-family:HY얕은샘물M, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16.5pt;
  }
  .form-joteuk69_2_1 .s4 {
    color: #282828; font-family:HY얕은샘물M, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12.5pt;
  }
  .form-joteuk69_2_1 .s5 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form-joteuk69_2_1 .s6 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;
  }
  .form-joteuk69_2_1 .s7 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form-joteuk69_2_1 .s8 {
    color: #282828; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;
  }
  .form-joteuk69_2_1 .s9 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form-joteuk69_2_1 .s10 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form-joteuk69_2_1 .s11 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form-joteuk69_2_1 p {
    color: #282828; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; margin:0pt;
  }
  .form-joteuk69_2_1 .s12 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form-joteuk69_2_1 .s13 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; vertical-align: 3pt;
  }
  .form-joteuk69_2_1 .s14 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form-joteuk69_2_1 h1 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 13pt;
  }
  .form-joteuk69_2_1 .s15 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; vertical-align: 1pt;
  }
  .form-joteuk69_2_1 .s16 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form-joteuk69_2_1 li {
    display: block;
  }
  .form-joteuk69_2_1 #l1 {
    padding-left: 0pt;
  }
  .form-joteuk69_2_1 #l1> li>*:first-child:before {
    content: "■ "; color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form-joteuk69_2_1 li {
    display: block;
  }
  .form-joteuk69_2_1 #l2 {
    padding-left: 0pt;counter-reset: d1 1;
  }
  .form-joteuk69_2_1 #l2> li>*:first-child:before {
    counter-increment: d1; content: counter(d1, decimal)". "; color: black; font-style: normal; font-weight: bold; text-decoration: none;
  }
  .form-joteuk69_2_1 #l2> li:first-child>*:first-child:before {
    counter-increment: d1 0;
  }
  .form-joteuk69_2_1 table, .form-joteuk69_2_1 tbody {
    vertical-align: top; overflow: visible;
  }
}