/* form41 Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .form41 {
    width: 624pt;
    margin: 0 auto;
    padding-bottom: 20pt;
  }

  .form41 * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }}
}

@layer components {
  .form41 p {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; margin:0pt;
  }
  .form41 .s1 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16.5pt;
  }
  .form41 .form-input {
    border:none;background-color:#ffffff;font-family:Arial, sans-serif;font-size:9pt;padding:0;margin:0;box-sizing:border-box;outline:none;
  }
  .form41 .form-input:focus {
    border:0.5pt solid #999;outline:none;
  }
  .form41 .form-input-text {
    text-align:left;
  }
  .form41 .form-input-numeric {
    text-align:right;
  }
  .form41 td {
    position:relative;
  }
  .form41 .h1 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 16pt;
  }
  .form41 .s2 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 15.5pt;
  }
  .form41 h3 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt;
  }
  .form41 .s3 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form41 .s4 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt;
  }
  .form41 .s5 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form41 .s6 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form41 .s7 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form41 .s8 {
    color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form41 .s9 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form41 .s10 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;
  }
  .form41 .s11 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form41 h2 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 13pt;
  }
  .form41 .s12 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; vertical-align: 1pt;
  }
  .form41 h4 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt;
  }
  .form41 .s13 {
    color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form41 li {
    display: block;
  }
  .form41 #l1 {
    padding-left: 0pt;
  }
  .form41 #l1> li>*:first-child:before {
    content: "■ "; color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form41 li {
    display: block;
  }
  .form41 #l2 {
    padding-left: 0pt;counter-reset: d1 1;
  }
  .form41 #l2> li>*:first-child:before {
    counter-increment: d1; content: counter(d1, decimal)". "; color: black; font-style: normal; font-weight: bold; text-decoration: none;
  }
  .form41 #l2> li:first-child>*:first-child:before {
    counter-increment: d1 0;
  }
  .form41 table, .form41 tbody {
    vertical-align: top; overflow: visible;
  }
}