/* form21_2 Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .form21_2 {
    width: 624pt;
    margin: 0 auto;
    padding-bottom: 20pt;
  }

  .form21_2 * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }}
}

@layer components {
  .form21_2 .s1 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt;
  }
  .form21_2 .s2 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form21_2 .s3 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form21_2 p {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; margin:0pt;
  }
  .form21_2 .s4 {
    color: #7E7E7E; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form21_2 li {
    display: block;
  }
  .form21_2 #l1 {
    padding-left: 0pt;counter-reset: c1 13;
  }
  .form21_2 #l1> li>*:first-child:before {
    counter-increment: c1; content: counter(c1, decimal)". "; color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form21_2 #l1> li:first-child>*:first-child:before {
    counter-increment: c1 0;
  }
  .form21_2 table, .form21_2 tbody {
    vertical-align: top; overflow: visible;
  }
  .form21_2 div[style*="background-color: #c0c0c0"] p {
    font-size: 11pt !important; line-height: 200% !important; font-weight: bold !important; font-family: 돋움체, monospace !important;
  }
  .form21_2 table .s2 {
    font-size: 9pt !important; line-height: 200% !important;
  }
}