/* form40_2 Styles */

@layer base {
  .form40_2 {
    width: 624pt;
    margin: 0 auto;
    padding-bottom: 20pt;
    position: relative;
  }

  .form40_2 * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }
}

@layer components {
  .form40_2 .s1 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form40_2 .s2 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16.5pt;
  }
  .form40_2 .s3 {
    color: black; font-family:HY견고딕, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 15.5pt;
  }
  .form40_2 h1 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt;
  }
  .form40_2 .s4 {
    color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;
  }
  .form40_2 .s5 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form40_2 .s6 {
    color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;
  }
  .form40_2 .s7 {
    color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form40_2 .s8 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
  }
  .form40_2 h2 {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt;
  }
  .form40_2 p {
    color: black; font-family:돋움, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; margin:0pt;
  }
  .form40_2 li {
    display: block;
  }
  .form40_2 #l1 {
    padding-left: 0pt;
  }
  .form40_2 #l1> li>*:first-child:before {
    content: "■ "; color: black; font-family:돋움체, monospace; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt;
  }
  .form40_2 table, .form40_2 tbody {
    vertical-align: top; overflow: visible;
  }
  .form40_2 .form-input {
    border:none;background-color:#ffffff;font-family:Arial, sans-serif;font-size:9pt;padding:0;margin:0;box-sizing:border-box;outline:none;
  }
  .form40_2 .form-input:focus {
    border:0.5pt solid #999;outline:none;
  }
  .form40_2 .form-input-text {
    text-align:left;
  }
  .form40_2 .form-input-numeric {
    text-align:right;
  }
  .form40_2 td {
    position:relative;
  }
}

/* add-page button positioning (exclude bottom padding) */
.form40_2 #addTableBtn {
  bottom: 20pt !important;
}
.form40_2 #addThirdTableBtn {
  bottom: 20pt !important;
}

